/*  generics */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p{
    margin-bottom: 0;
}


header{

    width: 100%;
    height: 100px;
}

.img{
    display: inline-block;
    max-height: 100px;
}

section{
    background-color: aquamarine;
    width: 100%;
    height: calc(100vh - 150px);
    overflow: scroll;
}

.grid{
    width: 700px;
    height: 700px;
}

.cell{
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
    cursor: pointer;
}

.cell.easy{
    width: calc(100% / 7);
    height: calc(100% / 7);

}

.cell.medium{
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.cell.hard{
    width: calc(100% / 10);
    height: calc(100% / 10);
}

.cell.extreme{
    width: calc(100% / 30);
    height: calc(100% / 30);
}

.cell.clicked{
    background-color: rgb(71, 172, 255);
}


footer{
    width: 100%;
    height: 50px;
}